:root {
    --font-family: "Arial", sans-serif;
    --background-text: #e0e0e0;
    --background-color: #f1f1f1;
    --container-color: #ffffff;
    --title-color: #00aeff;
    --text-color: #333;
}

html,
body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    color: var(--text-color);
    scroll-behavior: smooth;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    display: flex;
}

.container nav {
    border-bottom: 2px solid var(--title-color);
    background-color: var(--container-color);
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: fixed;
    padding: 1rem;
    display: flex;
    height: 100%;
    top: 0;
    left: 0;
}

.container nav section img {
    border-radius: 50%;
    max-height: 150px;
    max-width: 150px;
    height: auto;
    width: 100%;
}

.container nav section h3 {
    color: var(--title-color);
    font-size: 1.2rem;
}

.container nav ul {
    list-style: none;
    text-align: left;
    width: 100%;
    padding: 0;
}

.container nav ul li {
    background-color: var(--background-text);
    border-radius: 20px;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.container nav ul li a {
    color: var(--text-color);
    text-decoration: none;
}

.container main {
    position: relative;
    margin-left: 200px;
    padding: 1rem;
}

.container main section {
    background-color: var(--container-color);
    box-shadow: 0 10px 10px #0000001a;
    border-radius: 10px;
    margin-bottom: 1rem;
    text-align: center;
    padding: 1rem 2rem;
}

.container main section h3 {
    color: var(--title-color);
    margin-bottom: 1rem;
}

.container main section p {
    margin-bottom: 2rem;
    text-align: justify;
}

.container main section ul {
    list-style: none;
    padding: 0;
}

.container main section ul li {
    background-color: var(--background-text);
    border-radius: 20px;
    margin: 1rem 0;
    padding: 0.5rem;
}

/* Parte referente a configurações específicas */
.container main .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.container main .back-to-top img {
    background-color: #00aeff88;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.container main #home img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}

.container main #about ul {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.container main #about ul li {
    margin: 1rem;
}

.container main #skills .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container main #skills .content img {
    max-width: 100px;
    margin: 1rem;
    height: auto;
}

.container main #contacts form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container main #contacts form input,
.container main #contacts form textarea,
.container main #contacts form button {
    border: 1px solid var(--background-text);
    margin: 0.5rem 0;
    border-radius: 10px;
    max-width: 500px;
    padding: 1rem;
    width: 100%;
}

.container main #contacts form button {
    background-color: var(--title-color);
    cursor: pointer;
    color: #fff;
    border: none;
}

